body{
    background:url("vs.jpg");
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.regform{
    width: 500px;
    margin: 20vh auto;
    padding:30px;
    background-color: rgba(0,0,0,.5);
     color: whitesmoke;
    
    border-radius: 5px;
}
h1{
    text-align: center;
}
#form button{
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin: 20px 0px;
  cursor: pointer;
  font-size: 20px; 
  border: 1px solid;
}


.input-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.input-group input{
    border-radius: 5px;
    font-size: 20px;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid rgb(34,193,195);
}
.input-group input:focus{
    outline:0;
    

}
.button{
    
  
  color: white; 
  text-align: center;
  font-size: medium;
  font-weight: 300;
  font-family: 'Courier New', Courier, monospace;
  padding: 20px 30px;
  cursor:pointer;
  
}


.dev{
    align-items: center;
    
 
}





